<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Azura Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
  <style>
    body.swal2-shown > [aria-hidden='true'] {
  transition: 0.1s filter;
  filter: blur(3px);
}
.nav-pills .nav-link {
    font-size: 14px; /* Adjust the font size as needed */
    padding: 5px 10px; /* Adjust the padding as needed */

  }
  .points-menu {
    list-style-type: none;
    padding: 0;
    margin-left: auto; /* Align to the right */
  }

  .points-menu li {
    display: inline-block;
    margin-left: 10px; /* Adjust the margin as needed */
  }

  </style>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="images/logo.svg" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            </a>
            <ul class="points-menu navbar-nav">
              <li class="font-weight-bold text-danger">Item-Mall Rps : <span class="text-danger">999999999</span></li>
              <li class="font-weight-bold text-primary">Free-Mall Points : <span class="text-primary">999999999</span></li>
              <!-- Add more points as needed -->
            </ul>
            
              <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="images/faces/face23.jpg" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" onclick="fix5101()">

                <i  class="ti-alert mdi mdi-sword 
                text-primary">
              </i>
                Fix 5101
              </a>
              <a class="dropdown-item"onclick="logout()">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button> 
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      
      <!-- ptial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class=" menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
              </svg></i>
              <span class="menu-title">Shop</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu " >
                <li class="nav-item"> <a class="nav-link" href="itemmall.html"> Free-Mall </a></li>
                <li class="nav-item"> <a class="nav-link" href="itemmall.html"> Item-Mall </a></li>
              </ul>
            </div>
          </li>       
          <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
              <i class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z"/>
              </svg></i>
              <span class="menu-title">TopUp</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class=" menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
              </svg></i>
              <span class="menu-title">Guide</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">World Boss Drop</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html"> Minor Boss Drop </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class=" menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
              </svg></i>
              <span class="menu-title">Character</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Change Nickname</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Change Gender</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Guild Logo</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class=" menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
              </svg></i>
              <span class="menu-title">Download</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb border border-0 font-weight-bold">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Item-Mall</li>
            </ol>
          </nav>
          
          <div class="row">
              <!-- Category Menu -->
              <div class="col-12 mb-3">
                <h3 class="font-weight-bold mb-3">Category</h3>
                <!-- Search input and button -->
                
                <!-- Categories navigation -->
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#allItems">All Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#armor">Armor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#weapon">Weapon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#scrolls">Scrolls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#growth">Growth</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#etc">ETC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mounts">Mounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#talisman">Talisman</a>
                    </li>
                    
                    <!-- Add more categories as needed -->
                </ul>
            </div> 
            <div class="col-12">
              <div class="row"> 
                <div class="col-10 col-sm-3 col-md-3  col-xl-3 grid-margin stretch-card  " id="talisman">
                  <div class="card border border-info">
                    <div class="card-body text-center">
                      <h4 class="card-title">ICED STONE</h4>
                      <img src="/images/item/skillstone.jpg" class="img-fluid mb-2" width="60px" alt="" >
                        <p class="text-active font-weight-bold">Category: <span class="font-weight-bold text-danger">Scroll</span></p>
                          <h5 class="text-active font-weight-bold">Price : 3000 Rps</h5>
                          <p>This scroll increases your Melee attack force and Physical Defence by 40%. Lasts 4hrs.</p>
                          <div class="col-auto">
                            <p class="mb-0 text-muted">Select : 
                              <select style="width : 70px; border-radius: 10px; ;" class="form-select  border border-info text-center" aria-label="Default select example">
                                <option selected>Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </p>
                            <button href="" class="btn btn-primary btn-sm mt-2 font-weight-bold" onclick="buy()"> Buy Now</button>                                         
                          </div>
                      </div>
                  </div>
                </div>   
                 <div class="col-10 col-sm-3 col-md-3  col-xl-3 grid-margin stretch-card  " id="talisman">
                  <div class="card border border-info">
                    <div class="card-body text-center">
                      <h4 class="card-title">ICED STONE</h4>
                      <img src="/images/item/skillstone.jpg" class="img-fluid mb-2" width="60px" alt="" >
                        <p class="text-active font-weight-bold">Category: <span class="font-weight-bold text-danger">Scroll</span></p>
                          <h5 class="text-active font-weight-bold">Price : 3000 Rps</h5>
                          <p>This scroll increases your Melee attack force and Physical Defence by 40%. Lasts 4hrs.</p>
                          <div class="col-auto">
                            <p class="mb-0 text-muted">Select : 
                              <select style="width : 70px; border-radius: 10px; ;" class="form-select  border border-info text-center" aria-label="Default select example">
                                <option selected>Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </p>
                            <button href="" class="btn btn-primary btn-sm mt-2 font-weight-bold" onclick="buy()"> Buy Now</button>                                         
                          </div>
                      </div>
                  </div>
                </div>    
                 <div class="col-10 col-sm-3 col-md-3  col-xl-3 grid-margin stretch-card  " id="talisman">
                  <div class="card border border-info">
                    <div class="card-body text-center">
                      <h4 class="card-title">ICED STONE</h4>
                      <img src="/images/item/skillstone.jpg" class="img-fluid mb-2" width="60px" alt="" >
                        <p class="text-active font-weight-bold">Category: <span class="font-weight-bold text-danger">Scroll</span></p>
                          <h5 class="text-active font-weight-bold">Price : 3000 Rps</h5>
                          <p>This scroll increases your Melee attack force and Physical Defence by 40%. Lasts 4hrs.</p>
                          <div class="col-auto">
                            <p class="mb-0 text-muted">Select : 
                              <select style="width : 70px; border-radius: 10px; ;" class="form-select  border border-info text-center" aria-label="Default select example">
                                <option selected>Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </p>
                            <button href="" class="btn btn-primary btn-sm mt-2 font-weight-bold" onclick="buy()"> Buy Now</button>                                         
                          </div>
                      </div>
                  </div>
                </div>  
                <div class="col-10 col-sm-3 col-md-3  col-xl-3 grid-margin stretch-card  " id="talisman">
                  <div class="card border border-info">
                    <div class="card-body text-center">
                      <h4 class="card-title">ICED STONE</h4>
                      <img src="/images/item/skillstone.jpg" class="img-fluid mb-2" width="60px" alt="" >
                        <p class="text-active font-weight-bold">Category: <span class="font-weight-bold text-danger">Scroll</span></p>
                          <h5 class="text-active font-weight-bold">Price : 3000 Rps</h5>
                          <p>This scroll increases your Melee attack force and Physical Defence by 40%. Lasts 4hrs.</p>
                          <div class="col-auto">
                            <p class="mb-0 text-muted">Select : 
                              <select style="width : 70px; border-radius: 10px; ;" class="form-select  border border-info text-center" aria-label="Default select example">
                                <option selected>Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </p>
                            <button href="" class="btn btn-primary btn-sm mt-2 font-weight-bold" > Buy Now</button>                                         
                          </div>
                      </div>
                  </div>
                </div>        
                <div class="col-10 col-sm-3 col-md-3  col-xl-3 grid-margin stretch-card  " id="talisman">
                  <div class="card border border-info">
                    <div class="card-body text-center">
                      <h4 class="card-title">ICED STONE</h4>
                      <img src="/images/item/skillstone.jpg" class="img-fluid mb-2" width="60px" alt="" >
                        <p class="text-active font-weight-bold">Category: <span class="font-weight-bold text-danger">Scroll</span></p>
                          <h5 class="text-active font-weight-bold">Price : 3000 Rps</h5>
                          <p>This scroll increases your Melee attack force and Physical Defence by 40%. Lasts 4hrs.</p>
                          <div class="col-auto">
                            <p class="mb-0 text-muted">Select : 
                              <select style="width : 70px; border-radius: 10px; ;" class="form-select  border border-info text-center" aria-label="Default select example">
                                <option selected>Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </p>
                            <button href="" class="btn btn-primary btn-sm mt-2 font-weight-bold" > Buy Now</button>                                         
                          </div>
                      </div>
                  </div>
                </div>        
                <div class="col-10 col-sm-3 col-md-3  col-xl-3 grid-margin stretch-card  " id="talisman">
                  <div class="card border border-info">
                    <div class="card-body text-center">
                      <h4 class="card-title">ICED STONE</h4>
                      <img src="/images/item/skillstone.jpg" class="img-fluid mb-2" width="60px" alt="" >
                        <p class="text-active font-weight-bold">Category: <span class="font-weight-bold text-danger">Scroll</span></p>
                          <h5 class="text-active font-weight-bold">Price : 3000 Rps</h5>
                          <p>This scroll increases your Melee attack force and Physical Defence by 40%. Lasts 4hrs.</p>
                          <div class="col-auto">
                            <p class="mb-0 text-muted">Select : 
                              <select style="width : 70px; border-radius: 10px; ;" class="form-select  border border-info text-center" aria-label="Default select example">
                                <option selected>Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </p>
                            <button href="" class="btn btn-primary btn-sm mt-2 font-weight-bold" > Buy Now</button>                                         
                          </div>
                      </div>
                  </div>
                </div>        
                <div class="col-10 col-sm-3 col-md-3  col-xl-3 grid-margin stretch-card  " id="talisman">
                  <div class="card border border-info">
                    <div class="card-body text-center">
                      <h4 class="card-title">ICED STONE</h4>
                      <img src="/images/item/skillstone.jpg" class="img-fluid mb-2" width="60px" alt="" >
                        <p class="text-active font-weight-bold">Category: <span class="font-weight-bold text-danger">Scroll</span></p>
                          <h5 class="text-active font-weight-bold">Price : 3000 Rps</h5>
                          <p>This scroll increases your Melee attack force and Physical Defence by 40%. Lasts 4hrs.</p>
                          <div class="col-auto">
                            <p class="mb-0 text-muted">Select : 
                              <select style="width : 70px; border-radius: 10px; ;" class="form-select  border border-info text-center" aria-label="Default select example">
                                <option selected>Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </p>
                            <button href="" class="btn btn-primary btn-sm mt-2 font-weight-bold" > Buy Now</button>                                         
                          </div>
                      </div>
                  </div>
                </div>        
                <div class="col-10 col-sm-3 col-md-3  col-xl-3 grid-margin stretch-card  " id="talisman">
                  <div class="card border border-info">
                    <div class="card-body text-center">
                      <h4 class="card-title">ICED STONE</h4>
                      <img src="/images/item/skillstone.jpg" class="img-fluid mb-2" width="60px" alt="" >
                        <p class="text-active font-weight-bold">Category: <span class="font-weight-bold text-danger">Scroll</span></p>
                          <h5 class="text-active font-weight-bold">Price : 3000 Rps</h5>
                          <p>This scroll increases your Melee attack force and Physical Defence by 40%. Lasts 4hrs.</p>
                          <div class="col-auto">
                            <p class="mb-0 text-muted">Select : 
                              <select style="width : 70px; border-radius: 10px; ;" class="form-select  border border-info text-center" aria-label="Default select example">
                                <option selected>Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </p>
                            <button href="" class="btn btn-primary btn-sm mt-2 font-weight-bold" > Buy Now</button>                                         
                          </div>
                      </div>
                  </div>
                </div>         
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
               <!-- pembatas div -->
                  </div>
                </div>                          
              </div>
            </div>
          </div>
          
    
      
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="#" target="_blank">Azura Team</a></span> 
          </div>
        </footer> 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- Modal INFORMATION SERVER-->
  <div class="modal fade" id="detailser" tabindex="-1" aria-labelledby="detailser" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-3" id="detailser">Detail Server Information</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <li class="font-weight-bold">PURE PVP SYSTEM</li>
            <li class="font-weight-bold">Hero IV</li>                                    
            <li class="font-weight-bold">Instan Level 115 + 10</li>                                    
            <li class="font-weight-bold">Auto Consumed IP</li>              
            <li class="font-weight-bold">Daily Boss Summond </li>       
            <li class="font-weight-bold">Crone/IP Based</li>       
            <li class="font-weight-bold">Power Arena</li>  
            <li class="font-weight-bold">All Item In IP MALL and Badge Mall</li>
          </li>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="alert-custom.js">
</script>

</script>
  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>

  <!-- Plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

